# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    .gitignore                                         :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: atambo <alex.tambo.15432@gmail.com>        +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2025/01/23 17:55:38 by atambo            #+#    #+#              #
#    Updated: 2025/01/23 17:56:09 by atambo           ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

# Ignore everything
*

# Do not ignore these exceptions
!./*.c
!./*.h
!Makefile
!.gitignore

